@import "globals";
:root {
  color-scheme: light dark;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
body {
  background-color: $bg-light;
  padding: 0;
  margin: 0;
}
.white-bg,
.white-bg-block {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}
.white-bg {
  width: 0;
  height: 0;
  opacity: 0;
  transition: width 0.01s 0.59s, height 0.01s 0.59s, opacity 0.6s ease-in-out;
}
.white-bg-block {
  opacity: 0.5;
  transition: width 0.01s 0.01s, height 0.01s 0.01s, opacity 0.6s ease-in-out;
}
h1,
h2,
p {
  margin: 0;
}
.visible {
  display: block;
}
.hidden {
  display: none !important;
}
.block {
  overflow-y: hidden;
}
.menu-button {
  z-index: 3;
  position: fixed;
  top: 1rem;
  right: 1rem;
  gap: 1rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0 0 0 2px;
  svg {
    height: 2rem;
  }
}
.button-normal {
  color: $react-blue-dark;
  border: $react-blue-dark solid 1px;
  border-bottom: $react-blue-dark solid 4px;
  border-right: $react-blue-dark solid 4px;
  background: linear-gradient(to bottom, $bg-light 50%, $react-blue-dark 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: 0.25s ease-out;
  cursor: pointer;
}
.button-normal:hover {
  color: $bg-light;
  background-position: bottom;
}
.button-inverted {
  border: $bg-light solid 1px;
  border-bottom: $bg-light solid 4px;
  border-right: $bg-light solid 4px;
  background: linear-gradient(to bottom, $react-blue-dark 50%, $bg-light 50%);
  background-size: 100% 200%;
  background-position: top;
  color: $bg-light;
  transition: 0.25s ease-out;
  cursor: pointer;
}
.button-inverted:hover {
  color: $react-blue-dark;
  background-position: bottom;
}
.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-radius: 50% 0 50% 50%;
  background-color: $react-blue-dark;
  z-index: 1;
  transition: all 1s ease-in;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1.75rem 4rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    li {
      cursor: pointer;
    }
    li:hover {
      color: $bg-light;
    }
  }
}
.menu-item1 {
  animation: slideListItem 2s;
}
.menu-item2 {
  animation: slideListItem 2.3s;
}
.menu-item3 {
  animation: slideListItem 2.6s;
}
.menu-item4 {
  animation: slideListItem 2.9s;
}
.hide-menu-item {
  animation: hideListItem 1s;
}
.show-menu {
  width: calc(250px + 10vw);
  height: 300px;
  border-radius: 0 0 0 10%;
}
.lang-wrap {
  margin: 1rem 0 1.75rem 4rem;
  width: 8rem;
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: $bg-light solid 1px;
  border-bottom: $bg-light solid 4px;
  border-right: $bg-light solid 4px;
  div {
    width: 4rem;
    text-align: center;
    border: none;
  }
  .button-normal:hover {
    background-position: top;
    color: $react-blue-dark;
  }
}
.intro {
  width: 100vw;
  height: calc(100vh + 800px);
}
.intro-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-end;
}
.intro-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro-text-wrap {
  position: absolute;
  top: clamp(20vh, 20rem, 20vw);
  right: 5vw;
  width: 60vw;
  h1 {
    font-size: $font-h1;
  }
  h2 {
    font-size: $font-h2;
  }
  h1,
  h2 {
    padding-top: 1rem;
  }
  p {
    font-size: $font-s;
  }
}
.marquee-wrap {
  margin-bottom: 15rem;
  z-index: -1;
  width: 100%;
  height: auto;
}
.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  width: 100%;
}
.marquee_content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  transform: rotate(-10deg);
}
.right {
  animation: scrollLeft 10s linear infinite;
}
.left {
  animation: scrollRight 10s linear infinite;
}
.transparent {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $react-blue-dark;
}
.color {
  color: $react-blue-dark;
}
.transparent,
.color {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  white-space: nowrap;
  display: block;
  padding: 0.5rem 0;
}
.description {
  background-color: $react-blue-dark;
  width: 100vw;
  min-height: 130vh;
}
.description-head-text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    font-size: $font-h2;
    text-align: center;
    text-transform: uppercase;
    opacity: 1;
  }
}
.description-content-wrap {
  height: 100%;
  margin-inline: 2.5vw;
  .desc-left,
  .desc-right {
    display: none;
    img {
      display: none;
    }
  }
  .desc-middle {
    .desc-img-wrap {
      display: inline-block;
      overflow: hidden;
      border-radius: 50% 50% 0 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  h2 {
    font-size: $font-s;
    margin: 2rem 0;
  }
  p {
    margin: 0.5rem 0;
    font-size: $font-xs;
  }
  .desc-p {
    padding-bottom: 2rem;
  }
}
.projects {
  background-color: $bg-light;
  width: 100vw;
  h1 {
    font-size: $font-h1;
    text-align: center;
    color: $react-blue-dark;
  }
}
.projects-list-container {
  margin-top: 2rem;
  margin-inline: 10vw;
  width: 80%;
  display: grid;
  align-items: flex-start;
  column-gap: 5%;
  row-gap: 4rem;
}
.project {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  h2 {
    padding: 1rem 0 1rem 1rem;
  }
  .project-img-desc-wrap {
    background-color: $react-blue-dark;
    border-radius: 5%;
    img {
      max-height: 50vh;
      width: 90%;
      margin: 1% 5%;
      border-radius: 5%;
    }
  }
}
.extended-shown {
  height: 85vh;
  width: 85vw;
  background-color: rgb(51, 62, 84);
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translateY(-50%) translateX(-50%);
  z-index: 2;
  cursor: default;
  overflow-y: auto;
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  h2 {
    margin: 1rem 0 1rem 1rem;
  }
  p {
    margin: 0 0 1rem 1rem;
  }
  .img-counter {
    position: absolute;
    top: 70%;
    right: 1vw;
  }
  .nav {
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  .nav:hover {
    background-color: rgb(255, 255, 255);
  }
}
.slide-from-below * {
  animation: slideInFromBelow 0.6s linear;
}
@media (prefers-color-scheme: dark) {
}
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}
@media (min-width: 900px) {
  .description {
    .desc-left,
    .desc-right {
      display: flex;
      justify-content: center;
      img {
        width: 80%;
        display: inline;
      }
    }
    .desc-left {
      margin-top: 4rem;
      align-items: flex-start;
      img {
        border-radius: 20% 0 0 0;
      }
    }
    .desc-right {
      margin-top: 16rem;
      align-items: center;
      img {
        border-radius: 0 20% 0 0;
      }
    }
    .description-content-wrap {
      display: flex;
      overflow: hidden;
      .desc-middle {
        .desc-img-wrap {
          width: 100%;
        }
      }
    }
  }
  .projects-list-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1300px) {
  .menu-button::before {
    content: "Menu";
  }
  .projects-list-container {
    grid-template-columns: 30% 30% 30%;
  }
}
@keyframes scrollRight {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes slideInFromBelow {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideListItem {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  50% {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hideListItem {
  from {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
