@import "globals";
:root {
  color-scheme: light dark;
  scroll-behavior: smooth;
}
body {
  background-color: $bg-light;
  padding: 0;
  margin: 0;
  height: 400vh;
  overflow-x: hidden;
}

.menu-button {
  z-index: 1;
  position: fixed;
  color: $react-blue-dark;
  right: 4rem;
  top: 2rem;
  gap: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border: $react-blue-dark solid 1px;
  border-bottom: $react-blue-dark solid 4px;
  border-right: $react-blue-dark solid 4px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, $bg-light 50%, $react-blue-dark 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: 0.25s ease-out;
  svg {
    height: 2rem;
  }
}
.intro {
  display: flex;
  justify-content: center;
  position: relative;
}
.intro-img-wrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: margin width height 0.1s;
}
.intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 32%;
  transition: 0.25s;
}
.menu-button:hover {
  color: white;
  background-position: bottom;
}
.intro-text-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  margin: 10rem 5vw;
}
.name-intro-title-wrap {
  text-align: right;
  h1 {
    font-size: clamp(6vh, 6rem, 6vw);
  }
  h2 {
    font-size: clamp(5vh, 5rem, 5vw);
  }
  h1, h2 {
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
}
.text-button-wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5%;
  p {
    width: 60%;
    font-size: clamp(2.5vh, 2rem, 2vw);
  }
}
.button-wrap {
  position: relative;
  height: calc(5vh + 5vw);
  width: calc(5vh + 5vw);
  border-radius: 50%;
  .button {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
  }
  #btn-1 {
    svg {
      height: 100%;
      width: 100%;
      animation: Spin 5s infinite linear;
    }
  }
  #btn-2 {
    svg {
      height: 100%;
      width: 100%;
      animation: Spin 5s infinite linear;
    }
  }
}
.button-wrap:hover {
  #btn-1 svg,
  #btn-2 svg {
    display: none;
    animation: paused;
  }
}

@media (prefers-color-scheme: dark) {

}
@-moz-keyframes Spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes Spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes Spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}