:root {
  color-scheme: light dark;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

body {
  background-color: rgb(245, 230, 200);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.menu-button {
  z-index: 1;
  position: fixed;
  color: #00879f;
  right: 4rem;
  top: 2rem;
  gap: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border: #00879f solid 1px;
  border-bottom: #00879f solid 4px;
  border-right: #00879f solid 4px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgb(245, 230, 200) 50%, #00879f 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: 0.25s ease-out;
}
.menu-button svg {
  height: 2rem;
}

.intro {
  width: 100%;
  height: calc(100vh + 800px);
}

.intro-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-end;
}

.intro-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 32%;
}

.menu-button:hover {
  color: white;
  background-position: bottom;
}

.intro-text-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: clamp(20vh, 20rem, 20vw);
  right: 5vw;
}

.name-intro-title-wrap {
  text-align: right;
}
.name-intro-title-wrap h1 {
  font-size: clamp(6vh, 6rem, 6vw);
}
.name-intro-title-wrap h2 {
  font-size: clamp(5vh, 5rem, 5vw);
}
.name-intro-title-wrap h1,
.name-intro-title-wrap h2 {
  margin: 0;
  padding-top: 1rem;
}

.text-p-wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5%;
}
.text-p-wrap p {
  width: 60%;
  font-size: clamp(2.5vh, 2rem, 2vw);
}

.marquee-wrap {
  margin-bottom: 15rem;
  z-index: -1;
  width: 100%;
  height: auto;
}

.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  width: 100%;
}

.marquee_content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  transform: rotate(-10deg);
}

.right {
  animation: scrollLeft 10s linear infinite;
}

.left {
  animation: scrollRight 10s linear infinite;
}

.transparent {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00879f;
}

.color {
  color: #00879f;
}

.transparent,
.color {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  white-space: nowrap;
  display: block;
  padding: 0.5rem 0;
}

.description {
  background-color: #00879f;
  height: 1800px;
}

.description-head-text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description-head-text h1 {
  font-size: clamp(5vh, 5rem, 5vw);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}

.description-content-wrap {
  display: flex;
  justify-content: center;
  height: 70%;
}
.description-content-wrap .desc-left,
.description-content-wrap .desc-right {
  display: none;
}
.description-content-wrap .desc-middle img {
  width: 90vw;
  border-radius: 50% 50% 0 0;
}

.slideFromBelow * {
  animation: slideInFromBelow 0.6s linear;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}
@media (min-width: 900px) {
  .description-content-wrap {
    justify-content: space-around;
  }
  .description-content-wrap .desc-left,
  .description-content-wrap .desc-right {
    display: flex;
  }
  .description-content-wrap .desc-left {
    align-items: center;
  }
  .description-content-wrap .desc-left img {
    margin-top: 8rem;
    max-height: 300px;
    border-radius: 20% 0 0 0;
  }
  .description-content-wrap .desc-middle img {
    width: 40vw;
  }
  .description-content-wrap .desc-right {
    align-items: flex-end;
  }
  .description-content-wrap .desc-right img {
    max-height: 300px;
    border-radius: 0 20% 0 0;
  }
}
@keyframes scrollRight {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes slideInFromBelow {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
